# Info

In [319]:
# Dati a corredo dell'articolo d Sfide Metropolitane: "Firenze - Montelupo Fiorentino, 37.4 km"
# url articolo: https://medium.com/@SfideMetropolitane/firenze-montelupo-fiorentino-37-4-109bb2fcbcb0#.bq7rlsa4t

# Importazione librerie

In [320]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Importazione dati

In [321]:
url_dati_2014 = "http://dati.toscana.it/dataset/rt-movtur-2014"
url_dati_2013 = "http://dati.toscana.it/dataset/rt-movtur"

df_2014 = pd.read_csv ("movimentopercomune2014.csv", sep=";", encoding='latin1', index_col="Comune (denominazione)")
df_2013 = pd.read_csv ("movimentopercomune2013.csv", sep=",", encoding='latin1', index_col="Comune (denominazione)")

# Movimenti turistici 2014 Montelupo Fiorentino

In [322]:
# Arrivi e presenze 2014 per provenienza

df_montelupo_2014 = df_2014.loc["Montelupo Fiorentino"]
df_montelupo_2014 = df_montelupo_2014[["Provenienza", "arrivi", "presenze"]]
df_montelupo_2014

                       Provenienza  arrivi  presenze
Comune (denominazione)
Montelupo Fiorentino      Italiani    6604     14237
Montelupo Fiorentino     Stranieri    2907     10968

In [323]:
# TOTALE arrivi e presenze 2014

totale_montelupo_2014 = df_montelupo_2014.reset_index().groupby("Comune (denominazione)").sum()
totale_montelupo_2014

                        arrivi  presenze
Comune (denominazione)
Montelupo Fiorentino      9511     25205

# Movimenti turistici 2013 Montelupo Fiorentino

In [324]:
df_montelupo_2013 = df_2013.loc["Montelupo Fiorentino"]
df_montelupo_2013 = df_montelupo_2013[["Provenienza", "arrivi", "presenze"]]
df_montelupo_2013

                       Provenienza  arrivi  presenze
Comune (denominazione)
Montelupo Fiorentino      Italiani  6194.0   19188.0
Montelupo Fiorentino     Stranieri  2986.0   16015.0
Montelupo Fiorentino        Totale  9180.0   35203.0

# Var% arrivi 2013-2014

In [325]:
raccordo = dict(zip(df_montelupo_2013.index.unique().tolist(), df_montelupo_2014.index.unique().tolist()))

def dizionario(x):
  try:
      return raccordo[x]
  except:
      return ""
    
df_2013["arrivi"] = df_2013["arrivi"].apply(lambda x: dizionario(x))

In [326]:
df_var_arrivi = df_montelupo_2014["arrivi"] / df_montelupo_2013["arrivi"] *100-100
df_var_arrivi

Comune (denominazione)
Montelupo Fiorentino      6.619309
Montelupo Fiorentino    121.165439
Montelupo Fiorentino    -28.061002
Montelupo Fiorentino    -53.067485
Montelupo Fiorentino     -2.645680
Montelupo Fiorentino    -68.333333
Name: arrivi, dtype: float64

# Var% presenze 2013-2014

In [327]:
df_var_presenze = df_montelupo_2014["presenze"] / df_montelupo_2013["presenze"] *100-100
df_var_presenze

Comune (denominazione)
Montelupo Fiorentino   -25.802585
Montelupo Fiorentino   -11.102092
Montelupo Fiorentino   -59.557424
Montelupo Fiorentino   -42.839275
Montelupo Fiorentino   -31.514205
Montelupo Fiorentino   -68.843564
Name: presenze, dtype: float64